.menu(data-id="gamingDiscussions")
  .down(data-parent="discussions")
    .item.back
      span Discussions
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-comments.icon
    span Gaming Discussions