.menu.active(data-id="main")
  .up(data-child="games")
    .item.large
      i.fa.fa-gamepad.icon
      span Games
      i.fa.fa-angle-double-right

  .up(data-child="news")
    .item.large
      i.fa.fa-newspaper-o.icon
      span News
      i.fa.fa-angle-double-right
  
  .up(data-child="features")
    .item.large
      i.fa.fa-star-o.icon
      span Features
      i.fa.fa-angle-double-right
  
  .up(data-child="podcasts")
    .item.large
      i.fa.fa-microphone.icon
      span Podcasts
      i.fa.fa-angle-double-right
  
  .up(data-child="fanworks")
    .item.large
      i.fa.fa-paint-brush.icon
      span Fan Works
      i.fa.fa-angle-double-right
  
  //- .up(data-child="discussions")
  //-   .item.large
  //-     i.fa.fa-comments.icon
  //-     span Discussions
  //-     i.fa.fa-angle-double-right
  
  .up(data-child="about")
    .item.large.last
      i.fa.fa-info-circle.icon
      span About
      i.fa.fa-angle-double-right