title Metroid HQ - Your Source for All Things Metroid!
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='application-name', content='Metroid HQ')
meta(name='description', content='Metroid HQ is your source for all things Metroid! With all the info on the latest Metroid game and a great Metroid community, Metroid HQ is the place to go!')
meta(name='rating', content='general')
meta(name='robots', content='all')
meta(name='google-site-verification', content='axlyTF5vXNJ6SKngTYCe8jgE49EB_WbKqCZRYGbeu9U')
meta(property='og:title', content='Metroid HQ - Your Source for All Things Metroid!')
meta(property='og:site_name', content='Metroid HQ')
meta(property='og:url', content='http://metroidhq.com')
meta(property='og:type', content='website')
meta(property='og:image', content='http://metroidhq.com/logo.png')
meta(property='og:description', content='Metroid HQ is your source for all things Metroid! With all the info on the latest Metroid game and a great Metroid community, Metroid HQ is the place to go!')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@metroidhq')
meta(name='twitter:image:alt', content='Metroid HQ Logo')
link(rel='publisher', href='https://plus.google.com/110626837256256385078')
link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/apple-touch-icon-precomposed.png')
link(rel='apple-touch-startup-image', href='/apple-touch-startup-image.png')
link(rel='mask-icon', sizes='any', color='#42ca67', href='/logo.svg')
