#metroidhq
  #sidebar
    +sidebar
  
  #main
    #header
      {{> Template.dynamic template=header}}
    
    #body
      +discussion

      #content
        {{> Template.dynamic template=content}}
