.menu(data-id="mp2Echoes")
  .down(data-parent="games")
    .item.back
      span Games
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span MP2 Echoes
  
  .item.page(data-page="games/metroid-prime-2-echoes/overview")
    span Overview
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-2-echoes/official-art")
    span Official Art
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-2-echoes/screenshots")
    span Screenshots
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-2-echoes/music")
    span Music
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-2-echoes/maps")
    span Maps
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-2-echoes/guides")
    span Guides
    .i.fa.fa-angle-double-right
  
  .item.page.last(data-page="games/metroid-prime-2-echoes/fan-works")
    span Fan Works
    .i.fa.fa-angle-double-right