.menu(data-id="mp3Corruption")
  .down(data-parent="games")
    .item.back
      span Games
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span MP3 Corruption
  
  .item.page(data-page="games/metroid-prime-3-corruption/overview")
    span Overview
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-3-corruption/official-art")
    span Official Art
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-3-corruption/screenshots")
    span Screenshots
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-3-corruption/music")
    span Music
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-3-corruption/maps")
    span Maps
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-3-corruption/guides")
    span Guides
    .i.fa.fa-angle-double-right
  
  .item.page.last(data-page="games/metroid-prime-3-corruption/fan-works")
    span Fan Works
    .i.fa.fa-angle-double-right