.menu(data-id="mpHunters")
  .down(data-parent="games")
    .item.back
      span Games
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span MP Hunters
  
  .item.page(data-page="games/metroid-prime-hunters/overview")
    span Overview
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-hunters/official-art")
    span Official Art
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-hunters/screenshots")
    span Screenshots
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-hunters/music")
    span Music
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-hunters/maps")
    span Maps
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-hunters/guides")
    span Guides
    .i.fa.fa-angle-double-right
  
  .item.page.last(data-page="games/metroid-prime-hunters/fan-works")
    span Fan Works
    .i.fa.fa-angle-double-right