.menu(data-id="mpPinball")
  .down(data-parent="games")
    .item.back
      span Games
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span MP Pinball
  
  .item.page(data-page="games/metroid-prime-pinball/overview")
    span Overview
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-pinball/official-art")
    span Official Art
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-pinball/screenshots")
    span Screenshots
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-pinball/music")
    span Music
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-pinball/maps")
    span Maps
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-prime-pinball/guides")
    span Guides
    .i.fa.fa-angle-double-right
  
  .item.page.last(data-page="games/metroid-prime-pinball/fan-works")
    span Fan Works
    .i.fa.fa-angle-double-right