.menu(data-id="superMetroid")
  .down(data-parent="games")
    .item.back
      span Games
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span Super Metroid
  
  .item.page(data-page="games/super-metroid/overview")
    span Overview
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/super-metroid/official-art")
    span Official Art
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/super-metroid/screenshots")
    span Screenshots
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/super-metroid/music")
    span Music
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/super-metroid/maps")
    span Maps
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/super-metroid/guides")
    span Guides
    .i.fa.fa-angle-double-right
  
  .item.page.last(data-page="games/super-metroid/fan-works")
    span Fan Works
    .i.fa.fa-angle-double-right