.menu(data-id="zeroMission")
  .down(data-parent="games")
    .item.back
      span Games
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span Metroid: Zero Mission
  
  .item.page(data-page="games/metroid-zero-mission/overview")
    span Overview
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-zero-mission/official-art")
    span Official Art
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-zero-mission/screenshots")
    span Screenshots
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-zero-mission/music")
    span Music
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-zero-mission/maps")
    span Maps
    .i.fa.fa-angle-double-right
  
  .item.page(data-page="games/metroid-zero-mission/guides")
    span Guides
    .i.fa.fa-angle-double-right
  
  .item.page.last(data-page="games/metroid-zero-mission/fan-works")
    span Fan Works
    .i.fa.fa-angle-double-right