| Hello everyone, and welcome to the new Metroid HQ!  It’s been a long journey, but we’ve finally made it!  Our goal for this update was to merge the two separate parts of MHQ, the site and the forums, in order to serve our community better than ever.
br
br
| With the relaunch, we fought to bring you what you need to enjoy discussions with each other, but there is still more to work on for us.  You may notice some features missing or a bug here or there, which we will be fixing in the coming weeks.  If you spot anything urgent, go ahead and drop by the Issues page to let us know about it.
br
br
| We hope you enjoy the brand new Metroid HQ.  I look forward to chatting with everyone!
br
br
br
br
| Note from Saturnaut:
br
| This is essentially a beta launch. We had a lot of issues in the final stretch, especially with deployment. There is a ton of missing content and features that have been worked on, but weren't up to par for tonight's launch. We will be rolling these out over the next several days. Please be patient as we get everything going. If you do find anything that seems like a big bug, head over to the #[a(href="/about/issues") Issues] page and report it there! We will be rolling out updates daily, if not multiple times a day. You shouldn't experience too much interruption, as we utilize a hot code push. If you are here at the beginning and it seems rather barren, don't worry, stuff will start to fill in. Thanks again for your enthusiasm and support.