.menu(data-id="about")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-info-circle.icon
    span About
  
  .item.page(data-page="about/history")
    span History
    i.fa.fa-angle-double-right
  
  .item.page(data-page="about/staff")
    span Staff
    i.fa.fa-angle-double-right
  
  .item.page(data-page="about/change-log")
    span Change Log
    i.fa.fa-angle-double-right
  
  .item.page(data-page="about/issues")
    span Issues
    i.fa.fa-angle-double-right
  
  .item.page.last(data-page="about/contact")
    span Contact
    i.fa.fa-angle-double-right