.menu(data-id="discussions")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-comments.icon
    span Discussions
  
  .up(data-child="generalDiscussions")
    .item
      span General
      i.fa.fa-angle-double-right
  
  .up(data-child="metroidDiscussions")
    .item
      span Metroid
      i.fa.fa-angle-double-right
  
  .up(data-child="gamingDiscussions")
    .item
      span Gaming
      i.fa.fa-angle-double-right