.menu(data-id="fanworks")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-paint-brush.icon
    span Fan Works
  
  .item.page(data-page="fan-works/games")
    span Games
    i.fa.fa-angle-double-right
  
  .item.page(data-page="fan-works/artwork")
    span Artwork
    i.fa.fa-angle-double-right
  
  .item.page(data-page="fan-works/videos")
    span Videos
    i.fa.fa-angle-double-right
  
  .item.page(data-page="fan-works/music")
    span Music
    i.fa.fa-angle-double-right
  
  .item.page.last(data-page="fan-works/literature")
    span Literature
    i.fa.fa-angle-double-right