.menu(data-id="features")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-star-o.icon
    span Features
  
  .item.page(data-page="features/articles")
    span Articles
    i.fa.fa-angle-double-right
  
  .item.page(data-page="features/reviews")
    span Reviews
    i.fa.fa-angle-double-right
  
  .item.page(data-page="features/interviews")
    span Interviews
    i.fa.fa-angle-double-right