.menu(data-id="games")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-gamepad.icon
    span Games

  .up(data-child="metroid")
    .item
      span Metroid
      i.fa.fa-angle-double-right
  
  .up(data-child="zeroMission")
    .item
      span Metroid: Zero Mission
      i.fa.fa-angle-double-right
  
  .up(data-child="metroidPrime")
    .item
      span Metroid Prime
      i.fa.fa-angle-double-right
  
  .up(data-child="mpPinball")
    .item
      span MP Pinball
      i.fa.fa-angle-double-right
  
  .up(data-child="mpHunters")
    .item
      span MP Hunters
      i.fa.fa-angle-double-right
  
  .up(data-child="mp2Echoes")
    .item
      span MP2 Echoes
      i.fa.fa-angle-double-right
  
  .up(data-child="mp3Corruption")
    .item
      span MP3 Corruption
      i.fa.fa-angle-double-right
  
  .up(data-child="mpFedForce")
    .item
      span MP Federation Force
      i.fa.fa-angle-double-right
  
  .up(data-child="metroid2")
    .item
      span Metroid II: RoS
      i.fa.fa-angle-double-right
  
  .up(data-child="superMetroid")
    .item
      span Super Metroid
      i.fa.fa-angle-double-right
  
  .up(data-child="otherM")
    .item
      span Metroid: Other M
      i.fa.fa-angle-double-right
  
  .up(data-child="fusion")
    .item.last
      span Metroid Fusion
      i.fa.fa-angle-double-right