.menu(data-id="news")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-newspaper-o.icon
    span News

  .item.page(data-page="news/all")
    span All News
    i.fa.fa-angle-double-right
  
  .item.page(data-page="news/site")
    span Site News
    i.fa.fa-angle-double-right
  
  .item.page(data-page="news/metroid")
    span Metroid News
    i.fa.fa-angle-double-right
  
  .item.page.last(data-page="news/nintendo")
    span Nintendo News
    i.fa.fa-angle-double-right