.menu(data-id="podcasts")
  .down(data-parent="main")
    .item.back
      span Main Menu
      i.fa.fa-angle-double-left
  
  .title
    i.fa.fa-microphone.icon
    span Podcasts
  
  .item.page(data-page="podcasts/mhq-podcast")
    span MHQ Podcast
    i.fa.fa-angle-double-right
  
  .item.page(data-page="podcasts/podcast-prime")
    span Podcast Prime
    i.fa.fa-angle-double-right
  
  .item.page(data-page="podcasts/specials")
    span Specials
    i.fa.fa-angle-double-right