#beta beta
.head
  img(src='/logo.svg' class="logo")
  .title METROID
    span HQ
  
  .tagline Your Source for All Things Metroid

nav
  +mainMenu
  
  //- MAIN MENU CHILDREN
  +gamesMenu

  +newsMenu

  +featuresMenu

  +podcastsMenu

  +fanworksMenu
  
  +discussionsMenu
  
  +aboutMenu
  
  //- GAMES MENU CHILDREN
  +metroidMenu
  
  +zeroMissionMenu
  
  +metroidPrimeMenu
  
  +mpPinballMenu
  
  +mpHuntersMenu
  
  +mp2EchoesMenu
  
  +mp3CorruptionMenu
  
  +mpFedForceMenu
  
  +metroid2Menu
  
  +superMetroidMenu
  
  +otherMMenu
  
  +fusionMenu
  
  //- DISCUSSIONS MENU CHILDREN
  +gamingDiscussionsMenu
  
  +generalDiscussionsMenu
  
  +metroidDiscussionsMenu

.foot
  +userControls