.spacer

if hasComments
  each allComments
    +comment

else
  #nocommentsicon.fa.fa-comments
  #nocomments
    | There doesn't seem to be any comments here yet! Why don't you try kicking off the discussion?